body{
    overflow-x: hidden;
    background-image: url(images/pexels-lukas-574073.jpg);
    background-size: cover;
    height: max-content;
    padding-bottom: 30px;
    background-repeat: no-repeat;
}
*{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.contact{
    position: relative;
    left: 30%;
    top: 3%;
}
form{
    height: max-content;
    width: max-content;
    border: 2px solid black;
    border-radius: 4%;
    position: relative;
    top: 34%;
    padding: 20px;
}
input{
    width: 300px;
    height: 60px;
    background: transparent;
    padding: 5px 10px;
    text-align: center;
    border: 2px solid black;
}
textarea{
    width: 300px;
    height: 100px;
    background: transparent;
    padding: 10px 20px;
    text-align: center;
    border: 2px solid black;
}
::placeholder{
    opacity: 1;
    color: black;
}
.error{
    background-color: red;
    height: max-content;
    width: max-content;
    padding: 5px 20px;
}
.sucess{
    background: rgb(96, 240, 96);
    height: max-content;
    width: max-content;
    padding: 5px 20px;
    
}
h2{
    font-weight: 100;
    color: beige;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.error,
.sucess{
    position: relative;
    left: 33.33%;
    top: 5px;
    margin: 20px 0;
}
.mess{
    background-color: rgb(211, 74, 97);
    height: max-content;
    width: max-content;
    padding: 5px 10px;
    display: block;
}